section.copyright
  | &copy; 2021 -
  = full_date(new Date(), ' YYYY')
  | &middot;
  a(href= config.root)= config.author
section.intro
  | 由
  a(href='https://hexo.io/') Hexo
  | 驱动&middot;挂载
  a(href='https://github.com/xadillax/hexo-xnew') X'new
  | 主题&middot;参(chao)考(xi)
  a(href='https://xcoder.in') 死月
  if config.feed && config.feed.url
    | &middot;
    a(href= config.feed.url) RSS Feed
section.visit
  script(async='' src='//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js')
  span#busuanzi_container_site_uv
  | 本站累计接客&nbsp;
  a(href='')#busuanzi_value_site_uv
  | &nbsp;位
section.intro
  span#busuanzi_container_site_pv
  | 累计访问&nbsp;
  a(href='')#busuanzi_value_site_pv
  | &nbsp;次