// 文字主色，链接是在主色基础上变亮
$body-color = #eeeeee
$header-line-color = #35101A
$title-color = #ffd369
$description-color = #FDF2E4
$header-li-color = #eeeeee
// 只for首页li这里
$header-li-hover-color = #ffd369
// 只for文章title
$body-link-hover-color = #ffd369
// 文章内link
$link-article-color = #ffd369

// footer
$footer-background-color = #393e46
$footer-border-color = #d3d3d3
$footer-color = #8a8a8a
$footer-a-color = #737373
// 文章目录的边框
$article-toc-border-color = #d3d3d3
// 就是写于**年那一段
$post-meta = #a4a4a4

$background-color = #222831

$cu-font-family = -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif

@font-face
  font-family 'xnews-icon'  /* project id 210347 */
  src url('//at.alicdn.com/t/font_1g2ko97p796yldi.eot')
  src url('//at.alicdn.com/t/font_1g2ko97p796yldi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1g2ko97p796yldi.woff') format('woff'), url('//at.alicdn.com/t/font_1g2ko97p796yldi.ttf') format('truetype'), url('//at.alicdn.com/t/font_1g2ko97p796yldi.svg#iconfont') format('svg');
